#item-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#input-item {
    width: 300px; 
    height: 40px; 
    padding: 10px;
    font-size: 16px;
    border: 2px solid #000000;
    border-radius: 5px;
    margin-right: 10px; 
}

#list-container {
    position: inherit;
    bottom: 2%;
    height: 590px;
    width: 550px;
    overflow-y: auto;
}

/* ------------------------------------------------------------ */

/* popup */

#add-item-background {
    position: absolute;
    background-color: #fdfdfd;
    padding: 15px;
    border: 2px solid #a1a0a0;
    border-radius: 8px;
    height: 675px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0px;
    width: 545px;
    overflow-y: auto;
}

#input-item-name {
    font: Helvetica;
    color: black;
    font-size: 30pt;
    text-align: center;
    font-weight: bold;
    margin: 1.5%;
}

.input-numbers {
    width: 250px; 
    height: 23px; 
    padding: 7px;
    margin: 5%;
    font-size: 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    margin-right: 10px; 
}

.input-select {
    width: 200px; 
    height: 45px; 
    padding: 7px;
    margin: 5%;
    font-size: 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    margin-right: 10px; 
}

#form-sub{
    display: flex; 
    align-items: center;
}

#add-item-button {
    height: 64px; 
    padding: 8px 16px;
    font-size: 20px;
    background-color:  #3eff6b;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #ccc;

    text-align: center;
    font-weight: bold;
    margin: 1.5%;

    margin-left: 215px;
}

#add-button:hover {
    background-color: #0b6a1f;
}

#item-text {
    font: Helvetica;
    color: black;
    font-size: 15pt;
    margin: 1%;
}

#food-list {
    font: Helvetica;
    color: black;
    font-size: 24pt;
    font-weight: bold;
}

.sublist {
    font: Helvetica;
    color: black;
    font-size: 16pt;
    font-weight: normal;
}

/* REMOVE BULLETS */
.collapsible, .collapsible ol, .collapsible ul {
    list-style-type: none;
}
  
/* COLLAPSIBLE LIST CONTAINER */
.collapsible {
max-width: 550px;
padding: 20px; margin: 0;
}

/* CONTROL SPACING & INDENTATION */
.collapsible ol, .collapsible ul { padding-left: 15px; }
.toggle + ol, .toggle + ul { margin-top: 10px; }
.collapsible li { padding: 10px; }

/* SHOW & HIDE CHILDREN */
.collapsible ol, .collapsible ul { display: none; }
.toggle.open + ol, .toggle.open + ul { display: block; }

/* ADD TOGGLE ARROW */
.toggle { cursor: pointer; }
.toggle::after {
float: right; content: "\27A4";
font-size: 20px; line-height: 20px; font-weight: 700;
transition: all 0.3s;
}
.toggle.open::after { transform: rotate(90deg); }