
#input-container {
    display: flex; 
    align-items: center; 
    margin-top: 0px;
    margin-bottom: 5px; 
    margin-left: 11px;
    margin-right: 11px;
    padding: 4px;
    position: relative;
}

/* Input box styles */
#recipeName {
    padding: 8px;
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid #000000;
    border-radius: 4px;
    width: 220px;
    height: 30px; 
}

/* Button styles */
#searchButton {
    padding: 8px 16px;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 4px;
    height: 50px; 
    background-color: #3eff6b;
}


#recipeDisplay {
    overflow-y: auto;
    font-family: Helvetica;
    font-size: 15pt;
    border: 2px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 475px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}
